*.egg-info
*.mo
*.pot
*.pyc
*.pyo
*~
/build/
/cache/
/config-*.ini
/development-*.ini
/dist/
/openfisca_web_ui/static/bareme*.png
/openfisca_web_ui/static/bower/
/openfisca_web_ui/static/waterfall*.png
