build/
cache/
config-*.ini
development-*.ini
dist/
openfisca_web_ui/static/.webassets-cache/
openfisca_web_ui/static/bower/
openfisca_web_ui/static/css/site-less.css
openfisca_web_ui/static/css/site.min.css
*.egg-info
*.mo
*.pyc
*.pyo
*~

/openfisca_web_ui/static/waterfall.png
/openfisca_web_ui/static/bareme.png
