
/* SVG */
#chart-wrapper .y-axis path { display: none; }
#chart-wrapper .domain { display: none; }
#chart-wrapper .y-axis line { stroke: #AAA; stroke-dasharray: 6,6; }
#chart-wrapper .grid line { stroke: lightgrey; opacity: 0.7; }

#chart-wrapper #waterfall .x-axis .tick text {
	font-size: 13px;
	font-weight: bold;
}
#chart-wrapper #waterfall .income-number {
	text-anchor: start;
	font-weight: bold;
	fill: #444;
	font-size: 12px;
}
#chart-wrapper #waterfall .income-label {
	font-size: 16px;
	fill: #777;
}
#chart-wrapper #distribution .section-title {
	text-anchor: middle;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 23px;
	fill: #333;
	font-weight: bold;	
}
#chart-wrapper #distribution .section-value {
	text-anchor: middle;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	fill: #777;
	font-weight: light;
}