/**
 * Common site styles and helpers
 */


article.cgu h1{
    font-size: 2.3em;
    text-align: center;
    padding-bottom: 20px;
}

article.cgu h2{
    font-size: 1.6em;
}

#accept-cookies-modal .cookie-text {
    font-size: 0.9em;
    color: #999;
    padding-top: 20px;
    margin-bottom: 20px;
}

#accept-cookies-modal .modal-body {
    padding-bottom: 0px;
}

.break-word {
    word-wrap: break-word;
}

.collapse-node {
    border-left: 3px solid #2A6496;
    padding-left: 15px;
    margin-left: 6px;
}
.collapse-node-toggle:hover {
    text-decoration: none;
}
.collapse-node-toggle > span.indicator:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
}
.collapse-node-toggle.collapsed > span.indicator:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.container {
    width: 90%;
}

.nav-tabs {
    margin-bottom: 30px;
}

.waterfall-img {
    width: 100%;
}

img.media-object {
    height: 100px;
}

/* SVG */
#chart-wrapper .x-axis {
}
#chart-wrapper .y-axis path {
    display: none;
}
#chart-wrapper .domain {
    display: none;
}
#chart-wrapper .y-axis line {
  stroke: #777;
  stroke-dasharray: 2,2;
}

.form-inline select {
    margin-left: 10px;
}
