@font-face {
    font-family: 'Raleway Bold';
    src: url('../fonts/raleway-bold/raleway-bold-webfont.eot');
    src: url('../fonts/raleway-bold/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway-bold/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/raleway-bold/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Raleway Medium';
    src: url('../fonts/raleway-medium/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway-medium/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1,
h2,
/*h3,*/
h4,
h5,
h6,
.h1,
.h2,
/*.h3,*/
.h4,
.h5,
.h6,
.lead,
.nav,
.navbar-brand {
    font-family: 'Raleway Medium', Helvetica, Arial, sans-serif!important;
}

h3,
.h3 {
    font-family: 'Raleway Bold', Helvetica, Arial, sans-serif!important;
    font-size: 18px;
    font-variant: small-caps;
/*    text-transform: uppercase;*/
}

.break-word {
    word-wrap: break-word;
}

.buttons {
    margin: 1em 0;
}

.collapse-node {
    border-left: px solid #428bca;
    padding-left: 15px;
    margin-left: 6px;
}
.collapse-node-toggle.legislation-node {
    display: block;
}
.collapse-node-toggle:hover {
    text-decoration: none;
}
.collapse-node-toggle > span.indicator:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
}
.collapse-node-toggle.collapsed > span.indicator:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.nav-tabs {
    margin-bottom: 30px;
}
.nav-hidden {
    display: none;
}

.bar-enter {
  -webkit-transform: scale(0, 1);
  transition: -webkit-transform 0.5s;
}

.bar-enter.bar-enter-active {
  -webkit-transform: scale(1, 1);
}

.bar-leave {
  -webkit-transform: scale(1, 1);
  transition: -webkit-transform 0.5s;
}

.bar-leave.bar-leave-active {
  -webkit-transform: scale(0, 1);
}


/* Sticky footer styles
From http://getbootstrap.com/examples/sticky-footer-navbar/
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
