/**
 * Common site styles and helpers
 */


article.cgu h1{
    font-size: 2.3em;
    text-align: center;
    padding-bottom: 20px;
}

article.cgu h2{
    font-size: 1.6em;
}

.break-word {
    word-wrap: break-word;
}

.collapse-node {
    border-left: 3px solid #2A6496;
    padding-left: 10px;
}

.collapse-node-toggle:hover {
    text-decoration: none;
}

.container {
    width: 90%;
}

.nav-tabs {
    margin-bottom: 30px;
}

.waterfall-img {
    width: 100%;
}

img.media-object {
    height: 100px;
}

.panel-heading a:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}

.panel-heading a.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

/* SVG */
#chart-wrapper .x-axis {
}
#chart-wrapper .y-axis path {
    display: none;
}
#chart-wrapper .domain {
    display: none;
}
#chart-wrapper .y-axis line {
  stroke: #777;
  stroke-dasharray: 2,2;
}
