/**
 * Common site styles and helpers
 */


@import "../bower/bootstrap/less/bootstrap.less";
@import "variables.less";


.break-word {
    word-wrap: break-word;
}

.korma button.add {
    margin: 1em;
}

.korma input[type="submit"] {
    margin: 1em;
}

.nav-tabs {
    margin-top: 20px;
    margin-bottom: 30px;
}

.repeated-group {
    border: 1px solid LightGray;
    border-radius: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

.waterfall-img {
    width: 100%;
}

img.media-object {
    height: 100px;
}
