{{#modal}}
  {{#type === 'edit'}}
    {{>editModal}}
  {{/}}
  {{#type === 'move'}}
    {{>moveModal}}
  {{/}}
{{/}}

{{>buttonsBar}}

{{#testCase}}
  {{#withLinkedObjects('familles', familles, errors, suggestions):entityId}}
    {{>famille}}
  {{/}}
  {{#withLinkedObjects('foyers_fiscaux', foyers_fiscaux, errors, suggestions):entityId}}
    {{>foyerFiscal}}
  {{/}}
  {{#withLinkedObjects('menages', menages, errors, suggestions):entityId}}
    {{>menage}}
  {{/}}
{{/}}


<!-- {{>buttonsBar}} -->
{{#status}}
<span class="label {{type === 'error' ? 'label-danger' : 'label-default'}}"
  title="{{#type === 'error'}}{{message}}{{/}}">
  {{type === 'error' ? 'Erreur' : message}}
</span>
{{/}}
<hr>
<!-- {{/buttonsBar}} -->


<!-- {{>editModal}} -->
<div class="modal" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="edit-modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="{{#.errors}}bg-danger {{/}}modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="edit-modal-title">Éditer {{entityLabel(.entityKey, .entityId)}}</h4>
      </div>
{{#{
  categories: .entityKey && categories(.entityKey, .entityId, errors, suggestions),
  entityKey: entityKey,
  entityId: entityId
}}}
      <form on-submit="saveEntity:{{entityKey}}" role="form">
        <div class="modal-body">
          <div class="panel-group" id="accordion">
  {{#categories:categoryIdx}}
            <div class="panel {{.hasErrors ? 'panel-danger' : 'panel-default'}}">
              <div class="panel-heading">
    {{#.hasSuggestions}}
                <span class="glyphicon glyphicon glyphicon-info-sign pull-right"
                  title="Cette catégorie contient des valeurs suggérées par le simulateur."></span>
    {{/}}
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#category-{{categoryIdx}}">{{label}}</a>
                </h4>
              </div>
              <div id="category-{{categoryIdx}}" class="panel-collapse collapse{{#categoryIdx === 0}} in{{/}}">
                <div class="panel-body">
    {{#.columns}}
                  <div class="form-group{{#error}} has-error{{/}}">
                    {{>formControl}}
                  </div>
    {{/}}
                </div>
              </div>
            </div>
  {{/}}
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default pull-left" data-dismiss="modal" type="button">Annuler</button>
          <button class="btn btn-primary" type="submit">Valider</button>
        </div>
      </form>
{{/}}
    </div>
  </div>
</div>
<!-- {{/editModal}} -->


<!-- {{>formControl}} -->
{{#this && this['@type'] === 'Boolean'}}
<label class="control-label">{{label}}</label>
<div class="row">
  <div class="col-sm-6">
    <label class="radio-inline">
      <input name="{{value}}" type="radio" value="">
      Non renseigné
    </label>
    <label class="radio-inline">
      <input name="{{value}}" type="radio" value="1">
      Oui
    </label>
    <label class="radio-inline">
      <input name="{{value}}" type="radio" value="0">
      Non
    </label>
  </div>
  <div class="col-sm-6">
    <span class="help-block">
      {{this && defaultLabel(this)}}
      {{#suggestion && ! error}}
        {{formControlSuggestionGlyphicon}}
      {{/}}
    </span>
  </div>
</div>
{{/}}

{{#this && this['@type'] === 'Date'}}
<label class="control-label" for="{{name}}">{{label}}</label>
<input class="form-control" id="{{name}}" placeholder="{{suggestion || default}}" type="date" value="{{value}}">
{{/}}

{{#this && this['@type'] === 'Enumeration'}}
<label class="control-label" for="{{name}}">{{label}}</label>
  {{#suggestion && ! error}}
    <div class="input-group">
      {{>formSelectControl}}
      <span class="input-group-addon">{{>formControlSuggestionGlyphicon}}</span>
    </div>
  {{/}}
  {{^suggestion}}
    {{>formSelectControl}}
  {{/}}
{{/}}

{{#this && this['@type'] === 'Float'}}
<label class="control-label" for="{{name}}">{{label}}</label>
<input class="form-control" id="{{name}}" placeholder="{{default}}" type="number"
  value="{{value}}">
{{/}}

{{#this && this['@type'] === 'Integer'}}
<label class="control-label" for="{{name}}">{{label}}</label>
<div class="row">
  <div class="col-md-4">
  {{#val_type === 'monetary' || (suggestion && ! error)}}
    <div class="input-group">
      {{>formIntegerControl}}
      <span class="input-group-addon">
    {{#val_type === 'monetary'}}
        <span class="glyphicon glyphicon-euro"></span>
    {{/}}
    {{#suggestion && ! error}}
        {{>formControlSuggestionGlyphicon}}
    {{/}}
      </span>
    </div>
  {{/}}
  {{^val_type === 'monetary' || (suggestion && ! error)}}
    {{>formIntegerControl}}
  {{/}}
  </div>
  <div class="col-md-8">
    {{>formControlCerfaField}}
  </div>
</div>
{{/}}

{{#this && this['@type'] === 'String'}}
<label class="control-label" for="{{name}}">{{label}}</label>
<input class="form-control" id="{{name}}" placeholder="{{default}}" required="{{#required}}required{{/}}" type="text"
  value="{{value}}">
{{>formControlCerfaField}}
{{/}}

{{#error}}
<p class="text-danger">{{error}}</p>
{{/}}
<!-- {{/formControl}} -->


<!-- {{>formControlCerfaField}} -->
{{#cerfa_field}}
<span class="help-block">
  Case{{#_.isObject(cerfa_field)}}s{{/}} CERFA
  {{_.isObject(cerfa_field) ? _.values(cerfa_field).join(', ') : cerfa_field}}
</span>
{{/}}
<!-- {{/formControlCerfaField}} -->


<!-- {{>formControlSuggestionGlyphicon}} -->
<span class="glyphicon glyphicon glyphicon-info-sign"
  title="Valeur suggérée par le simulateur et utilisée dans ses calculs."></span>
<!-- {{/formControlSuggestionGlyphicon}} -->


<!-- {{>formIntegerControl}} -->
<input class="form-control" id="{{name}}" max="{{max}}" min={{min}} placeholder="{{suggestion || default}}" step="1"
  type="number" value="{{value}}">
<!-- {{/formIntegerControl}} -->


<!-- {{>formSelectControl}} -->
<select class="form-control" id="{{name}}" value="{{value}}">
  <option value="">Non renseigné ({{this && defaultLabel(this)}})</option>
{{#labels:labelKey}}
  <option value="{{labelKey}}">{{.}}</option>
{{/labels}}
</select>
<!-- {{/formSelectControl}} -->


<!-- {{>foyerFiscal}} -->
<div class="panel {{.hasErrors ? 'panel-danger' : 'panel-default'}}">
  <div class="panel-heading">
    <div class="btn-group">
      <button class="btn btn-default btn-sm" on-click="showEditModal:'foyers_fiscaux',{{entityId}}" type="button">
        {{entityLabel('foyers_fiscaux', entityId)}}
      </button>
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#" on-click="deleteEntity:foyers_fiscaux">Supprimer</a></li>
      </ul>
    </div>
  </div>
  <div class="list-group">
{{#.declarants}}
    <div class="list-group-item">
      <p>Déclarants</p>
  {{#.error}}
      <p class="text-danger">{{.error}}</p>
  {{/}}
      <ul>
  {{#.individus}}
        <li>{{>individu}}</li>
  {{/}}
        <li><a href="#" on-click="addIndividu:'foyers_fiscaux','declarants'">Ajouter</a></li>
      </ul>
    </div>
{{/}}
{{#.personnes_a_charge}}
    <div class="list-group-item">
      <p>Personnes à charge</p>
  {{#.error)}}
      <p class="text-danger">{{.error}}</p>
  {{/}}
      <ul>
  {{#.individus}}
        <li>{{>individu}}</li>
  {{/}}
        <li><a href="#" on-click="addIndividu:'foyers_fiscaux','personnes_a_charge'">Ajouter</a></li>
      </ul>
    </div>
{{/}}
  </div>
</div>
<!-- {{/foyerFiscal}} -->



<!-- {{>menage}} -->
<div class="panel {{.hasErrors ? 'panel-danger' : 'panel-default'}}">
  <div class="panel-heading">
    <div class="btn-group">
      <button class="btn btn-default btn-sm" on-click="showEditModal:'menages',{{entityId}}" type="button">
        {{entityLabel('menages', entityId)}}
      </button>
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#" on-click="deleteEntity:menages">Supprimer</a></li>
      </ul>
    </div>
  </div>
  <div class="list-group">
{{#.personne_de_reference}}
    <div class="list-group-item">
      <p>Personne de référence</p>
  {{#.error}}
      <p class="text-danger">{{.error}}</p>
  {{/}}
  {{#.individu}}
      <p>{{>individu}}</p>
  {{/}}
  {{^.individu}}
      <p><a href="#" on-click="addIndividu:'menages','personne_de_reference'">Ajouter</a></p>
  {{/}}
    </div>
{{/}}
{{#.conjoint}}
    <div class="list-group-item">
      <p>Conjoint</p>
  {{#.error}}
      <p class="text-danger">{{.error}}</p>
  {{/}}
  {{#.individu}}
      <p>{{>individu}}</p>
  {{/}}
  {{^.individu}}
      <p><a href="#" on-click="addIndividu:'menages','conjoint'">Ajouter</a></p>
  {{/}}
    </div>
{{/}}
{{#.enfants}}
    <div class="list-group-item">
      <p>Enfants</p>
  {{#.error}}
      <p class="text-danger">{{.error}}</p>
  {{/}}
      <ul>
  {{#.individus}}
        <li>{{>individu}}</li>
  {{/}}
        <li><a href="#" on-click="addIndividu:'menages','enfants'">Ajouter</a></li>
      </ul>
    </div>
{{/}}
{{#.autres}}
    <div class="list-group-item">
      <p>Autres</p>
  {{#.error}}
      <p class="text-danger">{{.error}}</p>
  {{/}}
      <ul>
  {{#.individus}}
        <li>{{>individu}}</li>
  {{/}}
        <li><a href="#" on-click="addIndividu:'menages','autres'">Ajouter</a></li>
      </ul>
    </div>
{{/}}
  </div>
</div>
<!-- {{/menage}} -->


<!-- {{>moveModal}} -->
<div class="modal" id="move-modal" tabindex="-1" role="dialog" aria-labelledby="move-modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="move-modal-title">
          Déplacer {{entityLabel(.individuId)}}
        </h4>
      </div>
      <form on-submit="move" role="form">
        <div class="modal-body">
{{#.famille}}
          {{>moveModalFamille}}
{{/}}
{{#.foyerFiscal}}
          {{>moveModalFoyerFiscal}}
{{/}}
{{#.menage}}
          {{>moveModalMenage}}
{{/}}
        </div>
        <div class="modal-footer">
          <button class="btn btn-default pull-left" data-dismiss="modal" type="button">Annuler</button>
          <button class="btn btn-primary" type="submit">Valider</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- {{/moveModal}} -->


<!-- {{>moveModalFamille}} -->
<div class="form-group">
  <label class="control-label" for="famille">Famille</label>
  <select class="form-control" id="famille" value="{{.id}}">
    <option value="">Aucune</option>
{{#testCase.familles:familleId}}
    <option value="{{familleId}}">Famille{{#nom_famille}} « {{nom_famille}} »{{/}}</option>
{{/}}
  </select>
</div>
<div class="form-group">
  <label class="control-label sr-only" for="famille-role">Rôle dans la famille</label>
  <select class="form-control" disabled="{{^.id}}disabled{{/}}" id="famille-role" value="{{.roleKey}}">
{{^.id}}
    <option value="">-----</option>
{{/}}
{{#.id}}
    <option value="parents">Parent</option>
    <option value="enfants">Enfant</option>
{{/}}
  </select>
</div>
<!-- {{/moveModalFamille}} -->


<!-- {{>moveModalFoyerFiscal}} -->
<div class="form-group">
  <label class="control-label" for="foyer-fiscal">Déclaration d'impôt</label>
  <select class="form-control" id="foyer-fiscal" value="{{.id}}">
    <option value="">Aucune</option>
{{#testCase.foyers_fiscaux:foyerFiscalId}}
    <option value="{{foyerFiscalId}}">Déclaration d'impôt{{#nom_foyer_fiscal}} « {{nom_foyer_fiscal}} »{{/}}</option>
{{/}}
  </select>
</div>
<div class="form-group">
  <label class="control-label sr-only" for="foyer-fiscal-role">Rôle dans la déclaration d'impôt</label>
  <select class="form-control" disabled="{{^.id}}disabled{{/}}" id="foyer-fiscal-role" value="{{.roleKey}}">
{{^.id}}
    <option value="">-----</option>
{{/}}
{{#.id}}
    <option value="declarants">Déclarant</option>
    <option value="personnes_a_charge">Personne à charge</option>
{{/}}
  </select>
</div>
<!-- {{/moveModalFoyerFiscal}} -->


<!-- {{>moveModalMenage}} -->
<div class="form-group">
  <label class="control-label" for="menage">Ménage</label>
  <select class="form-control" id="menage" value="{{.id}}">
    <option value="">Aucun</option>
{{#testCase.menages:menageId}}
    <option value="{{menageId}}">Ménage{{#nom_menage}} « {{nom_menage}} »{{/}}</option>
{{/}}
  </select>
</div>
<div class="form-group">
  <label class="control-label sr-only" for="menage-role">Rôle dans le ménage</label>
  <select class="form-control" disabled="{{^.id}}disabled{{/}}" id="menage-role" value="{{.roleKey}}">
{{^.id}}
    <option value="">-----</option>
{{/}}
{{#.id}}
    <option value="personne_de_reference">Personne de référence</option>
    <option value="conjoint">Conjoint de la personne de référence</option>
    <option value="enfants">Enfants</option>
    <option value="autres">Autres</option>
{{/}}
  </select>
</div>
<!-- {{/moveModalMenage}} -->
